{% extends "layout.html" %}
{% block body %}
  <h2>Trips</h2>
  <ul>
  {% for entry in trips %}
    <li>{{ entry.from_place }} -&gt; {{ entry.to_place }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  <h2>Create New</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('new') }}" method=post>
    <dl>
      <dt>From: <input type=text name=from>
      <dt>To: <input type=text name=to>
      <dd><input type=submit value=Save>
    </dl>
  </form>
{% endblock %}
